<!DOCTYPE html>
<html lang="en" ng-app="bootstrapDemoApp" id="top">
<head>
    <meta charset="utf-8">
    <title>AngularJS directives for Twitter's bootstrap</title>
    <meta name="description" content="AngularJS native directives for Twitter Bootstrap">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/<%= ngversion %>/angular.min.js"></script>
    <script src="ui-bootstrap-tpls-<%= version%>.min.js"></script>
    <script src="assets/select2.js"></script>
    <script src="assets/ui-select2.js"></script>
    <script src="assets/plunker.js"></script>
    <script src="assets/app.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/rainbow.css"/>
    <link rel="stylesheet" href="assets/demo.css"/>
    <link rel="stylesheet" href="assets/select2.css"/>

    <link rel="author" href="https://github.com/angular-ui/bootstrap/graphs/contributors">
</head>
<body class="ng-cloak" ng-controller="MainCtrl">
<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">ui-bootstrap</a>
      <div class="nav-collapse">
        <ul class="nav">
          <% modules.forEach(function(module) {  %>
            <li><a href="#<%= module.name %>"><%= module.displayName %></a></li>
          <% });  %>
        </ul>
      </div>
    </div>
  </div>
</header>
<div style="margin: 32px;"></div>
<div role="main">

    <header class="hero-unit" id="overview">
        <div class="container">
            <h1>
                UI Bootstrap
            </h1>

            <p>Bootstrap components written in pure <strong><a href="http://angularjs.org">AngularJS</a></strong> by the <strong><a
                    href="http://angular-ui.github.com">AngularUI Team</a></strong></p>

            <p class="btn-group">
                <a class="btn" href="https://github.com/angular-ui/bootstrap"><i class="icon-github"></i> Code on Github</a>
                <a class="btn btn-primary" href="https://github.com/angular-ui/bootstrap/tree/gh-pages">
                    <i class="icon-download-alt icon-white"></i> Download <small>(<%= version%>)</small>
                </a>
                <a class="btn" ng-click="showBuildModal()"><i class="icon-wrench"></i> Create a Build</a>
            </p>
        </div>
        <div class="bs-docs-social">
            <div class="container">
                <ul class="bs-docs-social-buttons">
                    <li>
                        <iframe src="http://ghbtns.com/github-btn.html?user=angular-ui&repo=bootstrap&type=watch&count=true"
                                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                    </li>
                    <li>
                        <iframe src="http://ghbtns.com/github-btn.html?user=angular-ui&repo=bootstrap&type=fork&count=true"
                                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
                    </li>
                    <li>
                        <a href="https://twitter.com/share" class="twitter-share-button"
                           data-hashtags="angularjs">Tweet</a>
                        <script>!function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = "//platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");</script>
                    </li>
                    <li>
                        <!-- Place this tag where you want the +1 button to render. -->
                        <div class="g-plusone" data-size="medium"></div>

                        <!-- Place this tag after the last +1 button tag. -->
                        <script type="text/javascript">
                            (function () {
                                var po = document.createElement('script');
                                po.type = 'text/javascript';
                                po.async = true;
                                po.src = 'https://apis.google.com/js/plusone.js';
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(po, s);
                            })();
                        </script>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container container-fluid">
    <% modules.forEach(function(module) { %>
      <section id="<%= module.name %>">
        <div class="page-header">
          <h1><%= module.displayName %></h1>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <%= module.html %>
            </div>
            <div class="span6">
                <%= module.description %>
                <section>
                Directive is found in the module <a href="https://github.com/angular-ui/bootstrap/tree/master/src/<%= module.name %>">ui.bootstrap.<%= module.name %></a>
                </section>
            </div>
        </div>
        <hr>
        <div class="row-fluid">
            <div class="span12" ng-controller="PlunkerCtrl">
                <div class="pull-right">
                    <button class="btn btn-info" id="plunk-btn" ng-click="edit('<%= ngversion%>', '<%= version%>', '<%= module.name %>')"><i class="icon-edit icon-white"></i> Edit in plunker</button>
                </div>
                <tabs>
                    <pane heading="Markup" plunker-content="markup"><pre ng-non-bindable><code data-language="html"><%- module.html %></code></pre></pane>
                    <pane heading="JavaScript" plunker-content="javascript"><pre ng-non-bindable><code data-language="javascript"><%- module.js %></code></pre></pane>
                </tabs>
            </div>
        </div>
      </section>
      <script><%= module.js %></script>
    <% }); %>
  </div>
</div>
<footer class="footer">
    <div class="container">
        <p>Designed and built by <a href="https://github.com/angular-ui?tab=members" target="_blank">Angular-UI team</a> and <a href="https://github.com/angular-ui/bootstrap/graphs/contributors" target="_blank">contributors</a>.</p>
        <p>Code licensed under <a href="https://github.com/angular-ui/bootstrap/blob/master/LICENSE">MIT License</a>.</p>
        <p><a href="https://github.com/angular-ui/bootstrap/issues?state=open">Issues</a></p>
    </div>
</footer>
<script src="assets/rainbow.js"></script>
<script src="assets/rainbow-generic.js"></script>
<script src="assets/rainbow-javascript.js"></script>
<script src="assets/rainbow-html.js"></script>
<div modal="buildModalShown" class="fade">
  <div class="modal-header"><h2>Create a Custom Build</h2></div>
  <div class="modal-body">
    <div ng-show="buildErrorText">
      <h3 style="text-align: center;">{{buildErrorText}}</h3>
    </div>
    <div ng-hide="buildErrorText">
      <h3 style="text-align: center;">Select the modules you wish to download:</h3>
      <select style="width: 100%;" ui-select2 multiple 
        ui-options="{multiple: true}"
        ng-model="selectedModules">
        <% modules.forEach(function(module) { %>
          <option value="<%= module.name %>"><%= module.displayName %></option>
        <% }); %>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" ng-disabled="!selectedModules.length" ng-click="selectedModules.length && downloadBuild()"><i class="icon-download-alt icon-white"></i> Download {{selectedModules.length}} Modules</a>
    <a class="btn" ng-click="buildModalShown = false">Cancel</a>
  </div>
</div>
</body>
</html>
