<!DOCTYPE html>
<html lang="en" ng-app="bootstrapDemoApp" id="top">
<head>
    <meta charset="utf-8">
    <title>AngularJS directives for Twitter's bootstrap</title>
    <meta name="description" content="AngularJS native directives for Twitter Bootstrap">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/<%= ngversion %>/angular.min.js"></script>
    <script src="ui-bootstrap-tpls-<%= version%>.min.js"></script>
    <script src="assets/plunker.js"></script>
    <script>
        angular.module('bootstrapDemoApp', ['ui.bootstrap', 'plunker']);
    </script>
    <link rel="stylesheet" href="assets/bootstrap.css"/>
    <link rel="stylesheet" href="assets/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="assets/rainbow.css"/>
    <link rel="stylesheet" href="assets/demo.css"/>

    <link rel="author" href="https://github.com/angular-ui/bootstrap/graphs/contributors">
</head>
<body class="ng-cloak">
<header class="navbar navbar-fixed-top">
    <a href="https://github.com/angular-ui/bootstrap">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
    </a>
    <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">ui-bootstrap</a>
      <div class="nav-collapse">
        <ul class="nav">
          <% modules.forEach(function(module) {  %>
            <li><a href="#<%= module.name %>"><%= module.displayName %></a></li>
          <% });  %>
        </ul>
      </div>
    </div>
  </div>
</header>
<div style="margin: 32px;"></div>
<div role="main">
  <div class="container container-fluid">
    <% modules.forEach(function(module) { %>
      <section id="<%= module.name %>">
        <div class="page-header">
          <h1><%= module.displayName %></h1>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <%= module.html %>
            </div>
            <div class="span6">
                <%= module.description %>
                <section>
                Directive is found in the module <a href="https://github.com/angular-ui/bootstrap/tree/master/src/<%= module.name %>">ui.bootstrap.<%= module.name %></a>
                </section>
            </div>
        </div>
        <hr>
        <div class="row-fluid">
            <div class="span12" ng-controller="PlunkerCtrl">
                <div class="pull-right">
                    <button class="btn btn-info" id="plunk-btn" ng-click="edit('<%= version%>', '<%= module.name %>')">Edit in plunker</button>
                </div>
                <tabs>
                    <pane heading="Markup" plunker-content="markup"><pre ng-non-bindable><code data-language="html"><%- module.html %></code></pre></pane>
                    <pane heading="JavaScript" plunker-content="javascript"><pre ng-non-bindable><code data-language="javascript"><%- module.js %></code></pre></pane>
                </tabs>
            </div>
        </div>
      </section>
      <script><%= module.js %></script>
    <% }); %>
  </div>
</div>
<script src="assets/rainbow.js"></script>
<script src="assets/rainbow-generic.js"></script>
<script src="assets/rainbow-javascript.js"></script>
<script src="assets/rainbow-html.js"></script>
</body>
</html>
