<!DOCTYPE html>
<html lang="en" ng-app="bootstrapDemoApp" id="top">
<head>
    <title>Bootstrap for AngularUI</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="ui-bootstrap-tpls-<%= grunt.config.get('pkg.version') %>.min.js"></script>
    <script>
        angular.module('bootstrapDemoApp', ['ui.bootstrap']);
    </script>
    <link rel="stylesheet" href="assets/bootstrap.css"/>
    <link rel="stylesheet" href="assets/rainbow.css"/>
    <link rel="stylesheet" href="assets/demo.css"/>
</head>
<body ng-cloak>
<header class="navbar navbar-fixed-top">
    <a href="https://github.com/angular-ui/bootstrap">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
    </a>
    <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">ui-bootstrap</a>
      <div class="nav-collapse">
        <ul class="nav">
          <% modules.forEach(function(module) {  %>
            <li><a href="#<%= module.name %>"><%= module.displayName %></a></li>
          <% });  %>
        </ul>
      </div>
    </div>
  </div>
</header>
<div style="margin: 32px;"></div>
<div role="main">
  <div class="container">
    <% modules.forEach(function(module) { %>
      <section id="<%= module.name %>">
        <div class="page-header">
          <h1><%= module.displayName %></h1>
        </div>
        <div class="row">
            <div class="span6">
                <%= module.html %>
            </div>
            <div class="span6">
                <%= module.description %>
                <section>
                Directive in the module <a href="https://github.com/angular-ui/bootstrap/tree/master/src/<%= module.name %>">ui.bootstrap.<%= module.name %></a>
                </section>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span12">
                <tabs>
                    <pane heading="Markup">
                        <pre ng-non-bindable><code data-language="html"><%- module.html %></code></pre>
                    </pane>
                    <pane heading="JavaScript">
                        <pre ng-non-bindable><code data-language="javascript"><%- module.js %></code></pre>
                    </pane>
                </tabs>
            </div>
        </div>
      </section>
      <script><%= module.js %></script>
    <% }); %>
  </div>
</div>
<script src="assets/rainbow.js"></script>
<script src="assets/rainbow-generic.js"></script>
<script src="assets/rainbow-javascript.js"></script>
<script src="assets/rainbow-html.js"></script>
</body>
</html>
