lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.swo
.DS_Store

pids
logs
results
# test coverage files
coverage/

node_modules
npm-debug.log

template/**/*.js

.git
docs
misc
src
template
.editorconfig
.gitattributes
.gitignore
.jshintrc
.travis.yml
CONTRIBUTING.md
Gruntfile.js
karma.conf.js
ROADMAP.md

dist/assets
