<!DOCTYPE html>
<html lang="en" ng-app="bootstrapDemoApp" id="top">
<head>
    <title>Bootstrap for AngularUI</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="ui-bootstrap-tpls-0.1.0-SNAPSHOT.min.js"></script>
    <script>
        angular.module('bootstrapDemoApp', ['ui.bootstrap']);
    </script>
    <link rel="stylesheet" href="assets/bootstrap.css"/>
    <link rel="stylesheet" href="assets/rainbow.css"/>
    <link rel="stylesheet" href="assets/demo.css"/>
</head>
<body ng-cloak>
<header class="navbar navbar-fixed-top">
    <a href="https://github.com/angular-ui/bootstrap">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
    </a>
    <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">ui-bootstrap</a>
      <div class="nav-collapse">
        <ul class="nav">
          
            <li><a href="#accordion">Accordion</a></li>
          
            <li><a href="#carousel">Carousel</a></li>
          
            <li><a href="#dropdownToggle">Dropdown Toggle</a></li>
          
            <li><a href="#modal">Modal</a></li>
          
            <li><a href="#pagination">Pagination</a></li>
          
            <li><a href="#tabs">Tabs</a></li>
          
        </ul>
      </div>
    </div>
  </div>
</header>
<div style="margin: 32px;"></div>
<div role="main">
  <div class="container">
    
      <section id="accordion">
        <div class="page-header">
          <h1>Accordion</h1>
        </div>
        <div class="row">
            <div class="span6">
                <div ng-controller="AccordionDemoCtrl">
  <accordion>
    <accordion-group heading="staticTitle">Static content</accordion-group>
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">{{group.content}}</accordion-group>
  </accordion>
</div>
            </div>
            <div class="span6">
                <p>Accordion is an AngularJS-version of bootstrap's accordion.</p>

<p>This directive can be used to quickly generate collapsible accordion both statically (from a template) and from the dynamic model data (using the <code>ng-repeat</code> directive);</p>
                <section>
                Directive in the module <a href="https://github.com/angular-ui/bootstrap/tree/master/src/accordion">ui.bootstrap.accordion</a>
                </section>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span12">
                <tabs>
                    <pane heading="Markup">
                        <pre ng-non-bindable><code data-language="html">&lt;div ng-controller=&quot;AccordionDemoCtrl&quot;&gt;
  &lt;accordion&gt;
    &lt;accordion-group heading=&quot;staticTitle&quot;&gt;Static content&lt;&#x2F;accordion-group&gt;
    &lt;accordion-group heading=&quot;{{group.title}}&quot; ng-repeat=&quot;group in groups&quot;&gt;{{group.content}}&lt;&#x2F;accordion-group&gt;
  &lt;&#x2F;accordion&gt;
&lt;&#x2F;div&gt;</code></pre>
                    </pane>
                    <pane heading="JavaScript">
                        <pre ng-non-bindable><code data-language="javascript">function AccordionDemoCtrl($scope) {
  $scope.staticTitle = &quot;Static Title&quot;;

  $scope.groups = [
    { title: &quot;Dynamic Title 1&quot;, content: &quot;Dynamic content 1&quot; }, 
    { title: &quot;Dynamic Title 2&quot;, content: &quot;Dynamic content 2&quot; }
  ];
}</code></pre>
                    </pane>
                </tabs>
            </div>
        </div>
      </section>
      <script>function AccordionDemoCtrl($scope) {
  $scope.staticTitle = "Static Title";

  $scope.groups = [
    { title: "Dynamic Title 1", content: "Dynamic content 1" }, 
    { title: "Dynamic Title 2", content: "Dynamic content 2" }
  ];
}</script>
    
      <section id="carousel">
        <div class="page-header">
          <h1>Carousel</h1>
        </div>
        <div class="row">
            <div class="span6">
                <div ng-controller="CarouselDemoCtrl">
  <carousel current-index="selected" interval="5000">
    <slide ng-repeat="s in slides" active="s.active">
      <img ng-src="{{s.image}}" style="margin:auto;">
      <div class="carousel-caption">
        <h4>Slide {{$index}}</h4>
        <p>{{s.text}}</p>
      </div>
    </slide>
  </carousel>
  Select slide:
  <a ng-repeat="i in slides" ng-click="selectSlide($index)">
    {{$index}}
  </a>
</div>

            </div>
            <div class="span6">
                <p>Carousel creates a carousel similar to bootstrap's image carousel.</p>

<p>Use a <code>&lt;carousel&gt;</code> element with <code>&lt;slide&gt;</code> elements inside it.  It will automatically cycle through the slides at a given rate, and a current-index variable will be kept in sync with the currently visible slide.</p>
                <section>
                Directive in the module <a href="https://github.com/angular-ui/bootstrap/tree/master/src/carousel">ui.bootstrap.carousel</a>
                </section>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span12">
                <tabs>
                    <pane heading="Markup">
                        <pre ng-non-bindable><code data-language="html">&lt;div ng-controller=&quot;CarouselDemoCtrl&quot;&gt;
  &lt;carousel current-index=&quot;selected&quot; interval=&quot;5000&quot;&gt;
    &lt;slide ng-repeat=&quot;s in slides&quot; active=&quot;s.active&quot;&gt;
      &lt;img ng-src=&quot;{{s.image}}&quot; style=&quot;margin:auto;&quot;&gt;
      &lt;div class=&quot;carousel-caption&quot;&gt;
        &lt;h4&gt;Slide {{$index}}&lt;&#x2F;h4&gt;
        &lt;p&gt;{{s.text}}&lt;&#x2F;p&gt;
      &lt;&#x2F;div&gt;
    &lt;&#x2F;slide&gt;
  &lt;&#x2F;carousel&gt;
  Select slide:
  &lt;a ng-repeat=&quot;i in slides&quot; ng-click=&quot;selectSlide($index)&quot;&gt;
    {{$index}}
  &lt;&#x2F;a&gt;
&lt;&#x2F;div&gt;
</code></pre>
                    </pane>
                    <pane heading="JavaScript">
                        <pre ng-non-bindable><code data-language="javascript">function CarouselDemoCtrl($scope) {
  $scope.slides = [
    {image: &#x27;http:&#x2F;&#x2F;placekitten.com&#x2F;325&#x2F;200&#x27;,text: &#x27;Kitten.&#x27;},
    {image: &#x27;http:&#x2F;&#x2F;placekitten.com&#x2F;275&#x2F;200&#x27;,text: &#x27;Kitty!&#x27;},
    {image: &#x27;http:&#x2F;&#x2F;placekitten.com&#x2F;375&#x2F;200&#x27;,text: &#x27;Cat.&#x27;},
    {image: &#x27;http:&#x2F;&#x2F;placekitten.com&#x2F;250&#x2F;200&#x27;,text: &#x27;Feline!&#x27;}
  ];
  $scope.selectSlide = function(i) {
    $scope.selected = i;
  };
}
</code></pre>
                    </pane>
                </tabs>
            </div>
        </div>
      </section>
      <script>function CarouselDemoCtrl($scope) {
  $scope.slides = [
    {image: 'http://placekitten.com/325/200',text: 'Kitten.'},
    {image: 'http://placekitten.com/275/200',text: 'Kitty!'},
    {image: 'http://placekitten.com/375/200',text: 'Cat.'},
    {image: 'http://placekitten.com/250/200',text: 'Feline!'}
  ];
  $scope.selectSlide = function(i) {
    $scope.selected = i;
  };
}
</script>
    
      <section id="dropdownToggle">
        <div class="page-header">
          <h1>Dropdown Toggle</h1>
        </div>
        <div class="row">
            <div class="span6">
                <li class="dropdown" ng-controller="DropdownCtrl">
  <a class="dropdown-toggle">
    Click me for a dropdown, yo!
  </a>
  <ul class="dropdown-menu">
    <li ng-repeat="choice in items">
      <a>{{choice}}</a>
    </li>
  </ul>
</li>

            </div>
            <div class="span6">
                <p>DropdownToggle is a simple directive which will toggle a dropdown link on click.  Simply put it on the <code>&lt;a&gt;</code> tag of the toggler-element, and it will find the nearest dropdown menu and toggle it when the <code>&lt;a dropdown-toggle&gt;</code> is clicked.</p>
                <section>
                Directive in the module <a href="https://github.com/angular-ui/bootstrap/tree/master/src/dropdownToggle">ui.bootstrap.dropdownToggle</a>
                </section>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span12">
                <tabs>
                    <pane heading="Markup">
                        <pre ng-non-bindable><code data-language="html">&lt;li class=&quot;dropdown&quot; ng-controller=&quot;DropdownCtrl&quot;&gt;
  &lt;a class=&quot;dropdown-toggle&quot;&gt;
    Click me for a dropdown, yo!
  &lt;&#x2F;a&gt;
  &lt;ul class=&quot;dropdown-menu&quot;&gt;
    &lt;li ng-repeat=&quot;choice in items&quot;&gt;
      &lt;a&gt;{{choice}}&lt;&#x2F;a&gt;
    &lt;&#x2F;li&gt;
  &lt;&#x2F;ul&gt;
&lt;&#x2F;li&gt;
</code></pre>
                    </pane>
                    <pane heading="JavaScript">
                        <pre ng-non-bindable><code data-language="javascript">function DropdownCtrl($scope) {
  $scope.items = [
    &quot;The first choice!&quot;,
    &quot;And another choice for you.&quot;,
    &quot;but wait! A third!&quot;
  ];
}
</code></pre>
                    </pane>
                </tabs>
            </div>
        </div>
      </section>
      <script>function DropdownCtrl($scope) {
  $scope.items = [
    "The first choice!",
    "And another choice for you.",
    "but wait! A third!"
  ];
}
</script>
    
      <section id="modal">
        <div class="page-header">
          <h1>Modal</h1>
        </div>
        <div class="row">
            <div class="span6">
                <div ng-controller="ModalDemoCtrl">
    <button class="btn" ng-click="open()">Open me!</button>
    <div modal="shouldBeOpen" close="close()">
        <div class="modal-header">
            <h4>I'm a modal!</h4>
        </div>
        <div class="modal-body">
            with some content...
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>
            </div>
            <div class="span6">
                <p>Bootstrap's modal directive.</p>
                <section>
                Directive in the module <a href="https://github.com/angular-ui/bootstrap/tree/master/src/modal">ui.bootstrap.modal</a>
                </section>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span12">
                <tabs>
                    <pane heading="Markup">
                        <pre ng-non-bindable><code data-language="html">&lt;div ng-controller=&quot;ModalDemoCtrl&quot;&gt;
    &lt;button class=&quot;btn&quot; ng-click=&quot;open()&quot;&gt;Open me!&lt;&#x2F;button&gt;
    &lt;div modal=&quot;shouldBeOpen&quot; close=&quot;close()&quot;&gt;
        &lt;div class=&quot;modal-header&quot;&gt;
            &lt;h4&gt;I&#x27;m a modal!&lt;&#x2F;h4&gt;
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;modal-body&quot;&gt;
            with some content...
        &lt;&#x2F;div&gt;
        &lt;div class=&quot;modal-footer&quot;&gt;
            &lt;button class=&quot;btn btn-warning cancel&quot; ng-click=&quot;close()&quot;&gt;Cancel&lt;&#x2F;button&gt;
        &lt;&#x2F;div&gt;
    &lt;&#x2F;div&gt;
&lt;&#x2F;div&gt;</code></pre>
                    </pane>
                    <pane heading="JavaScript">
                        <pre ng-non-bindable><code data-language="javascript">var ModalDemoCtrl = function ($scope) {

  $scope.open = function () {
    $scope.shouldBeOpen = true;
  };

  $scope.close = function () {
    $scope.closeMsg = &#x27;I was closed at: &#x27; + new Date();
    $scope.shouldBeOpen = false;
  };
};</code></pre>
                    </pane>
                </tabs>
            </div>
        </div>
      </section>
      <script>var ModalDemoCtrl = function ($scope) {

  $scope.open = function () {
    $scope.shouldBeOpen = true;
  };

  $scope.close = function () {
    $scope.closeMsg = 'I was closed at: ' + new Date();
    $scope.shouldBeOpen = false;
  };
};</script>
    
      <section id="pagination">
        <div class="page-header">
          <h1>Pagination</h1>
        </div>
        <div class="row">
            <div class="span6">
                <div ng-controller="PaginationDemoCtrl">
    <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-large"></pagination>
    <pagination num-pages="noOfPages" current-page="currentPage"></pagination>
    <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small"></pagination>
    <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-mini"></pagination>
    <button class="btn" ng-click="setPage(3)">Set current page to: 3</button>
    The selected page no: {{currentPage}}
</div>
            </div>
            <div class="span6">
                <p>A lightweight pagination directive that is focused on ... providing pagination!</p>

<p>It will take care of visualising a pagination bar. Additionally it will make sure that the state (enabled / disabled) of the Previous / Next buttons is maintained correctly.</p>
                <section>
                Directive in the module <a href="https://github.com/angular-ui/bootstrap/tree/master/src/pagination">ui.bootstrap.pagination</a>
                </section>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span12">
                <tabs>
                    <pane heading="Markup">
                        <pre ng-non-bindable><code data-language="html">&lt;div ng-controller=&quot;PaginationDemoCtrl&quot;&gt;
    &lt;pagination num-pages=&quot;noOfPages&quot; current-page=&quot;currentPage&quot; class=&quot;pagination-large&quot;&gt;&lt;&#x2F;pagination&gt;
    &lt;pagination num-pages=&quot;noOfPages&quot; current-page=&quot;currentPage&quot;&gt;&lt;&#x2F;pagination&gt;
    &lt;pagination num-pages=&quot;noOfPages&quot; current-page=&quot;currentPage&quot; class=&quot;pagination-small&quot;&gt;&lt;&#x2F;pagination&gt;
    &lt;pagination num-pages=&quot;noOfPages&quot; current-page=&quot;currentPage&quot; class=&quot;pagination-mini&quot;&gt;&lt;&#x2F;pagination&gt;
    &lt;button class=&quot;btn&quot; ng-click=&quot;setPage(3)&quot;&gt;Set current page to: 3&lt;&#x2F;button&gt;
    The selected page no: {{currentPage}}
&lt;&#x2F;div&gt;</code></pre>
                    </pane>
                    <pane heading="JavaScript">
                        <pre ng-non-bindable><code data-language="javascript">var PaginationDemoCtrl = function ($scope) {
  $scope.noOfPages = 5;
  $scope.currentPage = 4;

  $scope.setPage = function (pageNo) {
    $scope.currentPage = pageNo;
  };
};</code></pre>
                    </pane>
                </tabs>
            </div>
        </div>
      </section>
      <script>var PaginationDemoCtrl = function ($scope) {
  $scope.noOfPages = 5;
  $scope.currentPage = 4;

  $scope.setPage = function (pageNo) {
    $scope.currentPage = pageNo;
  };
};</script>
    
      <section id="tabs">
        <div class="page-header">
          <h1>Tabs</h1>
        </div>
        <div class="row">
            <div class="span6">
                <div ng-controller="TabsDemoCtrl">
    <tabs>
        <pane heading="Static title">Static content</pane>
        <pane ng-repeat="pane in panes" heading="{{pane.title}}">{{pane.content}}</pane>
    </tabs>
</div>
            </div>
            <div class="span6">
                <p>AngularJS version of the tabs directive.</p>
                <section>
                Directive in the module <a href="https://github.com/angular-ui/bootstrap/tree/master/src/tabs">ui.bootstrap.tabs</a>
                </section>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span12">
                <tabs>
                    <pane heading="Markup">
                        <pre ng-non-bindable><code data-language="html">&lt;div ng-controller=&quot;TabsDemoCtrl&quot;&gt;
    &lt;tabs&gt;
        &lt;pane heading=&quot;Static title&quot;&gt;Static content&lt;&#x2F;pane&gt;
        &lt;pane ng-repeat=&quot;pane in panes&quot; heading=&quot;{{pane.title}}&quot;&gt;{{pane.content}}&lt;&#x2F;pane&gt;
    &lt;&#x2F;tabs&gt;
&lt;&#x2F;div&gt;</code></pre>
                    </pane>
                    <pane heading="JavaScript">
                        <pre ng-non-bindable><code data-language="javascript">var TabsDemoCtrl = function ($scope) {
  $scope.panes = [
    { title:&quot;Dynamic Title 1&quot;, content:&quot;Dynamic content 1&quot; },
    { title:&quot;Dynamic Title 2&quot;, content:&quot;Dynamic content 2&quot; }
  ];
};</code></pre>
                    </pane>
                </tabs>
            </div>
        </div>
      </section>
      <script>var TabsDemoCtrl = function ($scope) {
  $scope.panes = [
    { title:"Dynamic Title 1", content:"Dynamic content 1" },
    { title:"Dynamic Title 2", content:"Dynamic content 2" }
  ];
};</script>
    
  </div>
</div>
<script src="assets/rainbow.js"></script>
<script src="assets/rainbow-generic.js"></script>
<script src="assets/rainbow-javascript.js"></script>
<script src="assets/rainbow-html.js"></script>
</body>
</html>
