.uib-datepicker .uib-title {
  width: 100%;
}

.uib-day button, .uib-month button, .uib-year button {
  min-width: 100%;
}

.uib-datepicker-popup.dropdown-menu {
  display: block;
}

.uib-button-bar {
  padding: 10px 9px 2px;
}
